
@model EmployeeCore.Core.Model.Employee;

    <div>
        <Label>EmployeeId:</Label>
        @Html.DisplayFor(model=>model.Employee_Id)
    </div>

<div>
    <Label>EmployeeId:</Label>
    @Html.DisplayFor(model=>model.First_Name)
</div>
<div>
    <Label>LastName:</Label>
    @Html.DisplayFor(model=>model.Last_Name)
</div>
<div>
    <Label>DateOfJoining:</Label>
    @Html.DisplayFor(model=>model.Date)
</div>
<div>
    <Label>Age:</Label>
    @Html.DisplayFor(model=>model.Age)
</div>
<div>
    <Label>Experience:</Label>
    @Html.DisplayFor(model=>model.Expereince)
</div>
<div>
    <Label>Location:</Label>
    @Html.DisplayFor(model=>model.Location)
</div>
<div>
    <Label>ContactNumber:</Label>
    @Html.DisplayFor(model=>model.Contact_Number)
</div>
<div>
    <Label>Address:</Label>
    @Html.DisplayFor(model=>model.Address)
</div>
<div>
    <Label>Password:</Label>
    @Html.DisplayFor(model=>model.Password)
</div>
<div>
    <Label>ConfirmPassword:</Label>
    @Html.DisplayFor(model=>model.Confirm_Password)
</div>


                           
                      
                           
                       
         